body{
    width:1050px;
}
header{
    width: 100%;
    height: 29px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 100%;
    height: 58px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

nav{
    height: 102px;
}

article{
    height:400px;
}

.all{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.image{
    width: 280px;
    height: 102px;
    position: absolute;
    background: lightseagreen;
}
.navigation{
    width: 700px;
    height: 102px;
    position: absolute;
    right: 0;
    background: darksalmon;
}
.more-info{
    width:100%;
    height: 335px;
    background: aquamarine;
}
.news{
    position: absolute;
    background: orange;
    width:350px;
    height:400px;
}
.info-offer,.info-why{
    position: absolute;
    background: cornflowerblue ;
    width:630px;
    height:200px;
    right: 0;
}
.info-why{
    top: 200px;
}
.about-us,.email,.links,.networks,.address{
    height: 296px;
}
.email{
    position: absolute;
    background: hotpink;
    width:350px;
}
.links{
    position: absolute;
    background:coral;
    width:200px;
    left: 350px;
}
.networks{
    position: absolute;
    background: aqua;
    width:200px;
    left: 550px;
}
.address{
    position: absolute;
    background: gold;
    width:230px;
    left: 750px;
}
